.banner-img{
    object-fit: cover; /* para preserva a proporção da imagem */
    object-position: 0 80%; /*Movimentar a imagem dentro do container para centralizar*/
    height: 400px; /*altura da imagem*/
}
.fonte-titulo{
    font-family: 'Pacifico', cursive; /*fonte pega no goolge fontes para utilizar no projeto!*/
   /* height: 120px; /*Altura do texto-titulo*/  
   
}
.imgagem{
    object-fit: cover;
    object-position: 0 80%;
    height: 215px;
    width: 286px;
}
.cor-especial{
    color: darkred !important; /* cor do subtitulo da pagina*/
    
}
.cor-titulo{
    background-color: darkred !important; /*cor do botao do cards*/
    color: white; /*cor do texto do card dentro do botao*/
}
.borda-cards{
    border-color: darkred;
}
.lagura-card{
    max-width: 18rem;
}
.cards-padrao{
    object-fit: cover;
    object-position: 0 80%
}
.rodape{
  background: #83b8eb;
}


